<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="chatDiv">Hello</div>

<ul id="messages"></ul>

<form autocomplete="off">
  <input id="m" autocomplete="off"/>
  <button>Send</button>
</form>

<!-- <script>
var socket = io();
$('form').submit(function(){
  socket.emit('chat message', $('#m').val());
  $('#m').val('');
  return false;
});
</script> -->
