<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="userFormArea" class="row">
    <div class="col-md-12">
      <form autocomplete="off" id="userForm">Pick username
        <input id="username" autocomplete="off"/>
        <input type="submit">Send</input>
      </form>
    </div>
</div>

<div id="messageArea">
  <ul class="list-group" id="users"></ul>
    <div id="chatDiv">Hello</div>

    <form autocomplete="off" id="messageForm">
      <input id="m" autocomplete="off"/>
      <input type="submit">Send</input>
    </form>
</div>
