body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chatDiv {
  background-color: grey;
  height: 300px;
}

#messageArea {
  display:none;
}
